<div class="container">
    <div class="panel panel-default">
     <div class="panel-heading"><h1>タスク追加</h1></div>

    <%= render 'form', task: @task %>

    <%= link_to 'Back', tasks_path %>
  </div>
</div>    
