// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@media print {
  .carender_all {
    width: 1350px;
    height: 1000px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }

  .carender_data {
    height: 1440px;
  }

  .cake {
    width: 20px;
    position: relative;
    bottom: 2.5px;
  }

  .edit_carendar_link_prace {
    display: none;
  }

  .title_content_div {
    height: 100px;
    width: 150px;
  }

  .simple-calendar {
    height: 1000px;
  }

  .blog_delete {
    display: none;
  }

  .simple-calendar .day {
    height: 250px;
  }

  .calendar-previous-next {
    display: none;
  }

  .calendar-heading {
    font-size: 40px;
    font-weight: 600;
  }

  #text_preparation_space {
    position: relative;
    top: 630px;
    height: 150px;
    width: 1300px;
    font-size: 26px;
    font-weight: 800;
  }

  .title_content_div {
    margin-left: auto;
    margin-right: auto;
  }

  .carender_lek_class {
    font-size: 20px;
    font-weight: 800;
    color: black;
    text-decoration: none;
  }

  .copy_place {
    position: relative;
    display: inline-block;
  }

  .copy_place_30 {
    position: relative;
    top: 230px;
    display: inline-block;
  }

  div.carender_birthday {
    display: inline-block;

    span {
      display: none;
    }
  }
}

@media screen and (min-width: 1601px) and (max-width: 2000px) {
  .carender_all {
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
  }

  .table-striped {
    width: 1300px;
  }

  .h1_title {
    position: relative;
  }

  .edit_carendar_link_prace {
    margin-left: auto;
    margin-right: auto;
  }

  .calendar-heading {
    font-size: 30px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
  }

  //編集
  #text_preparation_space {
    height: 80px;
    width: 1500px;
    font-size: 20px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .edit_carender {
    position: relative;
    top: 140px;
    text-align: center;
    display: block;
  }

  .text-center {
    position: relative;
    left: 490px;
  }

  .content {
    margin-top: 10px;
  }

  .submit {
    margin-top: 10px;
  }

  .client_show {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
  }

  .form-control::placeholder {
    color: transparent;
  }

  div.up-supmit {
    text-align: center;
    margin-bottom: 10px;
    .btn {
      width: 600px;
    }
  }

  div.down-submit {
    text-align: center;
    .btn {
      width: 600px;
    }
  }

}

@media screen and (min-width: 750px) and (max-width: 1600px) {
  .carender_all {
    width: 1320px;
    height: 900px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .modal-dialog-center {
    padding-top: 10%;
  }

  .label-basic-info {
    margin-top: 5px;
  }

  .btn-basic-info {
    margin: 15px 0;
    width: 30%;
  }

  .edit_carendar_link_prace {
    margin-left: auto;
    margin-right: auto;
  }

  .h1_title {
  }

  .simple-calendar .day {
    height: 110px;
  }

  .calendar-heading {
    font-size: 30px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
  }

  .title_content_div {
    height: 100px;
    width: 180px;
    position: relative;
  }

  .blog_delete {
    display: inline;
  }

  .simple-calendar .day {
    height: 150px;
    width: 180px;
  }

  #text_preparation_space {
    height: 80px;
    width: 1300px;
    font-size: 20px;
  }

  //編集
  .edit_carender {
    position: relative;
    top: 100px;
    text-align: center;
    display: block;
  }

  .text-center {
    position: relative;
    left: 350px;
  }

  .content {
    margin-top: 10px;
  }

  .submit {
    margin-top: 10px;
  }

  .carender_birthday {
    position: relative;
    display: inline-block;
    text-align: center;
  }

  .client_show {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    font-size: 26px;
    text-align: center;
  }

  .form-control::placeholder {
    color: transparent;
  }

}

  @media screen and (max-width: 550px) {

    .blog-edit-day {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    .up-supmit{
      margin-top: 20px;
      text-align: center;
    }

    .blog-submit-btn {
      width: 300px;
    }

    .down-submit {
      text-align: center;
    }

    table.edit-calender {
      padding: 0;
      width: 300px;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0 0 15px -6px #00000073;
      display: block;
      th {
        display: none;
      }
      td {
        text-align: center;
        vertical-align: top;
        width: 300px;
        display: block;
      }
      .btn {
        width: 200px;
      }
      .form-control {
        font-weight: 700;
      }
      .form-control::placeholder {
        color: rgba(0,0,0,0.2);
      }
    }

    .submit {
      margin-top: 10px;
    }

    div.edit_carender {
      position: relative;
      top: 100px;
      .card-body {
      }
    }

    .carender_lek_class {
      font-size: 13px;
      font-weight: 500;
      text-decoration: none;
    }
    
  }

