// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@media print {
  .clinets_all {
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
  }

  table.table-clients {
  td{
    text-align: center;
    div.name_h_font_size {
    position: relative;
    top: 10px;
    left: 6px;
    font-size: 13px;
    text-align: center;
    }
    div.client_birthday {
      position: relative;
      top: 18.5px;
    }
  }

  .s_name {
    margin-left: 8px;
  }

  th{
    div.name_h_font_size {
    position: relative;
    left: 5px;
    font-size: 13px;
    text-align: center;
    }
    div.name {
      position: relative;
      left: 5px;
    }
  }
}

  .copy_check_box {
    position: relative;
    top: 26px;
    left: 4px;
    display: flex;
    justify-content: space-between;
  }

  .copy_none {
    display: none;
  }

  body {
    width: 100%;
  }

  h2 {
    text-align: center;
  }

  .table-clients {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
    font-weight: 700;
    box-shadow: 0 0 15px -6px #00000073;
  }

  .btn {
    display: none;
  }

  .search_name {
    display: none;
  }

  .notice{
    display: none;
  }

}

@media screen and (min-width: 750px) and (max-width: 2000px) {
  .clinets_all {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1500px;

    .btn-circle-border-simple {
      display: block;
      text-decoration: none;
      color: #668ad8;
      width: 120px;
      height: 120px;
      line-height: 120px;
      border-radius: 50%;
      border: solid 2px #668ad8;
      text-align: center;
      overflow: hidden;
      font-weight: bold;
      transition: .4s;
      margin-left: auto !important;
      margin-top: -120px;
    }
    
    .btn-circle-border-simple:hover {
      background: #b3e1ff;
    }
  }

  h2 {
    text-align: center;
  }

  body {
    width: 100%;
  }

  .table-clients {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 1500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 15px -6px #00000073;
  }

  .table-clients tr {
    background-color: #fff;
  }

  .table-clients th,
  .table-clients td {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
  }

  .table-clients th {
    width: 20%;
    padding: 10px 0;
    font-size: 14px;
    padding: 15px;
    background-color: #ffc107;
    color: #fff;
  }

  .table-clients tr {
    text-align: center;
    width: 20%;
    padding: 20px 0;
    background-color: #fff;
    color: #3a3a3a;
  }

  .table-clients tr:hover {
    background-color: #d4faff;
  }

  .new_client {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    text-align: center;
  }

  .field {
    margin-top: 10px;
  }

  .client_all_h2 {
    margin-bottom: 20px;
  }

  .use_day_class {
    margin-top: 10px;
  }

  .name_search_btn {
    margin-top: 15px;
  }

  .form-search {
    display: inline-block;
    margin-left: 10px;
  }

  //利用者詳細
  .client_show {
    width: 1400px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    font-size: 26px;
    text-align: center;
  }

  .copy_check_box {
    display: none;
  }


}

@media screen and (min-width: 750px) and (max-width: 2000px) {

  .clinets_all {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1250px;
  }

  h2 {
    text-align: center;
  }

  body {
    width: 100%;
  }

  .table-clients {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 15px -6px #00000073;
  }

  .table-clients tr {
    background-color: #fff;
  }

  .table-clients th,
  .table-clients td {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
  }

  .table-clients th {
    width: 20%;
    padding: 10px 0;
    font-size: 14px;
    padding: 15px;
    background-color: #ffc107;
    color: #fff;
  }

  .table-clients tr {
    text-align: center;
    width: 20%;
    padding: 20px 0;
    background-color: #fff;
    color: #3a3a3a;
  }

  .table-clients tr:hover {
    background-color: #d4faff;
  }

  .new_client {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    text-align: center;
  }

  .field {
    margin-top: 10px;
  }

  .client_all_h2 {
    margin-bottom: 20px;
  }

  .use_day_class {
    margin-top: 10px;
  }

  div.search_name {
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-top: 50px;

  }

  .name_search_btn {
    margin-top: 15px;
  }

  .form-search {
    display: inline-block;
    margin-left: 10px;
  }

  .new_client_btn {
    margin-bottom: 20px;
    margin-left: 30px;
  }

  //新規利用者
  .new_client {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    text-align: center;
  }

   //利用者詳細
   .client_show {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    font-size: 26px;
    text-align: center;
  }

  .field {
    margin-top: 10px;
  }
  .phone_thead {
    display: none;
  }

  .copy_check_box {
    display: none;
  }

  .name_h_font_size {
    font-size: 13px;
  }

}

@media screen and (max-width: 550px)  {
  div.clinets_all {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 330px;
    height: auto;
    display: block;
  }

  h2 {
    text-align: center;
  }

  body {
    width: 100%;
  }

  table.table-clients {
    border-collapse: collapse;
    margin: 30px;
    padding: 0;
    width: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 15px -6px #00000073;
    th.phone_thead{
      display: block;
    }
    td {
      width: 300px;
      display: block;
    }
    .thead_pc {
      display: none;
    }
    .btn {
      width: 200px;
    }
  }

  .table-clients tr {
    background-color: #fff;
  }

  .table-clients th,
  .table-clients td {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
  }

  .table-clients th {
    width: 20%;
    padding: 10px 0;
    font-size: 14px;
    padding: 15px;
    background-color: #ffc107;
    color: #fff;
  }

  .table-clients tr {
    text-align: center;
    width: 20%;
    padding: 20px 0;
    background-color: #fff;
    color: #3a3a3a;
  }

  .table-clients tr:hover {
    background-color: #d4faff;
  }


  .field {
    margin-top: 10px;
  }

  .client_all_h2 {
    margin-bottom: 20px;
  }

  .use_day_class {
    margin-top: 10px;
  }

  .search_name {
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-top: 50px;
  }

  .name_search_btn {
    margin-top: 15px;
  }

  .form-search {
    display: inline-block;
    margin-left: 10px;
  }

  .new_client_btn {
    margin-bottom: 20px;
    margin-left: 10px;
  }

  //新規利用者
  .new_client {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    text-align: center;
  }

   //利用者詳細
   .client_show {
    width: 300px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    font-size: 26px;
    text-align: center;
  }

  .field {
    margin-top: 10px;
  }
  
  .btn--cubic {
    display: none;
  }

  .copy_check_box {
    display: none;
  }

  .th_caram {
    display: none;
  }
}
