// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table.task-table-show th,
  table.task-table-show td{
    text-align: center;
    width: 1000px;
    height: auto;
    display:block;
  }

  table.task-table-show th {
    background-color: #fd6767;
    color: white;
    text-align: center;
  }

  div.task_show {
    text-align: center;
  }

  

  table.table-task {
    width: 100%;
    margin: auto;
    text-align: center;
    .task-title-w {
      width: 1000px;
      height: auto;
    }
    td, th {
      border: 2px #ff0000 solid;
      width: 550px;
      font-size: 15px;
      font-weight: 700;
    }
  }

  div.task-all {
    text-align: center;
  }

  div.search_task {
    text-align: left;
    margin-left: 120px;
  }

  form.form-task {
    .form-control {
      width: 35%;
    }
    div.task_select_search {
      margin-top: 55px;
      margin-bottom: 20px;
    }
  }
  td.task_btn {
    font-weight: 700;
    width: 2% !important;
    .task_btn {
      font-weight: 700;
      font-size: 17px;
    }
  }
