<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
    </nav>
  </div>
</header>
